---
import ProgressBar from "@components/Atoms/ProgressBar/ProgressBar";
export interface Props {
    label:string;
    conf:number;
    i:number
  }
const {label, conf, i} = Astro.props
---

<div class="toolbelt__card">
  <div class="toolbelt__card-img">
    <img src={`toolbeltIcons/${label}.svg`} alt={label}>
  </div>
  <div class="toolbelt__card-info">
    <div class="toolbelt__card-title">
      {label}
      <div class="toolbelt__card-confidence">
        {conf}<span class="toolbelt__card-percentage-sign">%</span>
      </div>
    </div>
    <ProgressBar conf={conf} i={i} client:visible/>
  </div>
</div>

<style lang="scss">
  @use "@styles/abstracts" as *;

  .toolbelt__card {
    max-width: 238px;
    flex-basis: 238px;
    border: 1px solid var(--c-highlight);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    column-gap: 16px;

    &-info {
      width: 100%;
      height: 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-img {
      height: 32px;
      aspect-ratio: 1/1;
      @include flex-center;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      font-family: Cabin;
      font-size: 16px;
      color: var(--c-f-white);
      text-transform: capitalize;
    }

    &-confidence {
      font-weight: 300;
      font-size: 14px;
      color: var(--c-accent);
    }

    &-percentage-sign {
      font-size: 10px;
    }
  }

</style>


