---
import ExperienceOption from "@components/Molecules/ExperienceOption.astro";
import ParagraphLayout from "@layouts/ParagraphLayout.astro";
import SectionHeading from "@components/Molecules/SectionHeading.astro";
import ExperienceWork from "@data/ExperienceWork.json";
import ExperienceEducation from "@data/ExperienceEducation.json"
---

<SectionHeading index={3} title="experience">
  Infomation regarding my work or educational history, please contact me.
</SectionHeading>

<section class="experience">
  <div class="experience__options-wrap">
    {
      ExperienceWork.map((experience) => (
        <ExperienceOption date={experience.date} title={experience.title} icon="work">
          <ParagraphLayout slot="experience-description">
            {experience.description}
          </ParagraphLayout>
        </ExperienceOption>
      ))
    }
  </div>

  <div class="experience__options-wrap">
    {
      ExperienceEducation.map((experience) => (
        <ExperienceOption date={experience.date} title={experience.title} icon="education">
          <ParagraphLayout slot="experience-description">
            {experience.description}
          </ParagraphLayout>
        </ExperienceOption>
      ))
    }

  </div>
</section>

<style lang="scss">
  @use "@styles/abstracts" as *;
  .experience {
    display: flex;
    column-gap: 32px;
    width: 100%;
    @include breakpoint-down(large) {
      gap: 16px;
    }
    @include breakpoint-down(medium) {
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
    }
    @include breakpoint-down(small) {
      width: 90%;
    }
    @include breakpoint-down(x-small) {
      width: auto;
    }
    &__options-wrap {
      flex: 1 1 100%;
      border: 1px solid var(--c-highlight);
      border-radius: 8px;
      padding: 16px 12px;
      height: max-content;
    }
  }
</style>
